header                          
    h1 Hello! 
    nav  
        ul
            li
                a(href="/") Home
                   
            li 
                a(href="/join") Join
                   
            li 
                a(href="/login") Login            

